traffic_monitoring/model_weights/model_final_16_classes.pth filter=lfs diff=lfs merge=lfs -text
traffic_monitoring/model_weights/model_final.pth filter=lfs diff=lfs merge=lfs -text
example_videos/example_1.mp4 filter=lfs diff=lfs merge=lfs -text
example_videos/example_2.mp4 filter=lfs diff=lfs merge=lfs -text
example_videos/example_3.mp4 filter=lfs diff=lfs merge=lfs -text
